<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Product Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kalam:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  
  <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,700;0,900;1,900&display=swap" rel="stylesheet">
  <link href="css/hover-min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/product_page.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/footer_1.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand " href="/">Brand Name</a>
      
      <form class="form-inline flex-nowrap rounded search_2 mx-0" action="/product-page" method="POST">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary srch_1" type="submit"><i class="fa fa-search" style="color:rgba(27, 38, 44, 0.9) "></i></button>
            <input type="search" class="form-control fc_1" placeholder="Search" name="search">
          </div>
        </form>
          
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-5 my-lg-0">
          <li class="nav-item mx-3">
            <a class="nav-link js-scroll-trigger mt-1" href="#" data-toggle="modal" data-target="#exampleModal" role="button" ><i class="fas fa-shopping-cart "></i></a>
            <!-- Button trigger modal -->
          <!-- Modal -->
          <div class="modal fade animate__animate animate__bounceIn" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                </div>
                <div class="modal-body">
                  <table>
                    
                    <tr>
                      <td><button type="button" class="close mx-2" aria-label="Close"><span aria-hidden="true">&times;</span></button></td>
                      <td class="table_img"><img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="rounded mx-auto d-block" alt="..." width="100" height="100"></td>
                      <td >
                      <span class="table_text">Wireless Earphone </span>
                      </td>
                      <td>
                        <input type="number" value="0" min="1" max="5" step="1" class="count pl-3 border-top-0 border-left-0 border-right-0 "/>
                      </td>
                      <td class="price">$100</td>
                    </tr>
                  </table>
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark cart_close" data-dismiss="modal">Close</button>
                  <button type="button" class="btn checkout">Checkout</button>
                </div>
              </div>
            </div>
          </div>
          </li>
          <li class="nav-item dropdown mx-3">
            <a class="nav-link js-scroll-trigger mt-1" href="#" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-wallet"></i></a>
            <div class="dropdown-menu py-3 px-1 mt-2 wallet_1 dm_1" aria-labelledby="navbarDropdown" > 
              <div class="text-center ">
                  <p class="dropdown-item">Wallet<i class="fas fa-wallet ml-2"></i></p>
                  <div class="dropdown-divider"></div>
                  <p > <span>Amount:</span><span class="mr-1">$100</span></p>
                  <button class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Add to Wallet"><i class="fas fa-wallet mr-1"></i> +</button>
                </div>
               
             
              
            </div>
          </li>
          <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link hvr-icon-hang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi,Name <i class="fa fa-chevron-down hvr-icon"></i>
            </a>
            <div class="dropdown-menu dm_2" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log-out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <form action="">
  <div class="search_1">
    <div class="input-group-prepend">
      <span><button class="btn btn-outline-secondary srch" type="button"><i class="fa fa-search"></i></button></span>
      <input type="text" class="form-control fc" placeholder="" aria-label="" aria-describedby="basic-addon1">
    </div>

  </div>
</form>


  <div class="product_page">
    <div class="row first px-4">
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_1">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_1" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
               
               
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart "><i
                    class="fas fa-shopping-cart "></i></a>

                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1 hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_2">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_2" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_3">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_3" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_4">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_4" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="row  px-4">
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_5">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_5" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_6">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_6" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like " id="like_7">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_7" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like " id="like_8">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_8" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row  px-4">
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_9">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_9" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_10">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_10" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like" id="like_11">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_11" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3  col-md-6 col-sm-6 col-xs-12 py-3 fade-in">
        <div class="d-flex justify-content-center">
          <div class="card ">
            <span class="actions pt-2 px-2 d-flex justify-content-between">
              <button data-toggle="tooltip" data-placement="bottom" title="Like" class="rounded-circle px-1 d-flex justify-content-center align-items-center like " id="like_12">
                <i class="far fa-heart"></i>
              </button>
            </span>
            <a href="#">
              <img src="https://demo.createx.studio/cartzilla/img/shop/catalog/58.jpg" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title m-0">Headphones</h5>
              <a href="#" class="product-link">
                <p class="card-text">Wireless Bluetooth Headphones</p>
              </a>
              <div class="price-rating d-flex justify-content-between">
                <p class="dollar">$100.<span class="cent">00</span></p>
                <div class="rating_12" >
                  <span class="star" id="1"><i class="fas fa-star" ></i></span>
                  <span class="star" id="2"><i class="fas fa-star" ></i></span>
                  <span class="star" id="3"><i class="fas fa-star" ></i></span> 
                  <span class="star" id="4"><i class="fas fa-star" ></i></span>
                  <span class="star" id="5"><i class="fas fa-star" ></i></span>
                </div>
              </div>
            </div>
            <div class="hidden-tab d-none d-lg-block pb-2 container-fluid col-12 d-flex flex-column align-items-center">
              <div class="hidden-content d-flex justify-content-center">
                <a  data-toggle="tooltip" data-placement="bottom" title="Add to Cart" class="btn btn_1 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 cart"><i
                    class="fas fa-shopping-cart "></i></a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="View Product" class="btn btn_2 btn-primary_1  hidden-button p-1 d-flex justify-content-center align-items-center rounded-circle mx-3 eye"><i class="fas fa-eye "></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <br>
    <br>

    <footer id="footer">
      <div class="p-4 w-100">
        <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-12 catalogue">
            <div class="d-flex justify-content-center">
              <div class="size">
                <div class="text-left">



                  <h5>Shop Departments</h5>
                  <br>
                  <p>Appliances</p>
                  <p>Comapny Approval</p>
                  <p>Buisness Product</p>
                  <p>Computer</p>
                  <p>Television</p>
                  <p>Shorts</p>
                  <p>Laptops</p>
                  <p>Accessories</p>
                  <p>Refridgerator</p>
                  <p>Apple Appliances</p>
                  <p>Electonical Appliances</p>



                </div>
              </div>


            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 shipping">
            <div class="d-flex justify-content-center">
              <div class="size">
                <div class="text-left">
                  <h5>Accounts and Shipping Info</h5>
                  <br>
                  <p>Your Account</p>
                  <p>Shipping rates & policies</p>
                  <p>Refunds and Replacements</p>
                  <p>Order Tracking</p>
                  <p>Delivery Info</p>
                  <p>Taxes &Fees</p>
                  <br>

                  <h5>About Us</h5>
                  <br>
                  <p>About Company</p>
                  <p>Our Teams</p>
                  <p>Careers</p>
                  <p>News</p>

                </div>

              </div>


            </div>

            <hr>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 subscribe">
            <div class="d-flex justify-content-center">
              <div class="text-left">
                <h5>Stay Informed</h5>
                <hr>
                <form class="" action="/product-page" method="post">


                  <input type="email" class="form-control" placeholder="Enter email" id="email" name="subscribe_mail">
                  <small>*If you want to be informed about our new Product.</small>

                  <div class="float-right">
                    <button type="submit" name="button" class="m-1 rounded sub_button">Subscribe</button>

                  </div>
                </form>
                <div class="connect" id="connect">
                  <br>
                  <h5 class="mt-5 text-center">Connect with Us</h5>

                  <a href="mailto:comapny@example.com" class="mt-3">Mail us</a><br>
                  <div class="d-flex justify-content-center icon mb-3">
                    <i class="fab fa-google feather "></i>
                    <i class="fab fa-twitter feather  ml-5"></i>
                    <i class="fab fa-facebook feather  ml-5"></i>
                  </div>
                  <p class="text-center mt-4">&copy; Company Name Ltd<p>



                </div>

              </div>

            </div>

          </div>

        </div>
        <hr>
        <div class="row mt-4 policy">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="justify-content-center">
              <span><i class="fas fa-rocket "></i></span>
              <div class=" shape_1">
                <div class="text-right">

                  <h6>Free and Fast Delivery</h6>
                  <small>Free Delivery for cart above 200$</small>
                </div>

              </div>


            </div>
            <hr>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="justify-content-center">
              <span><i class="fas fa-money-check-alt"></i></span>



              <div class=" shape_2">
                <div class="text-right">

                  <h6>Money Back Policy</h6>
                  <small>We refund payments within 30days</small>
                </div>

              </div>


              <hr>
            </div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="justify-content-center">
              <div class=" shape">
                <i class="far fa-credit-card"></i>
              </div>

              <div class=" shape_3">
                <div class="text-right">

                  <h6>Secure Online Payment</h6>
                  <small>Excellent online payment services.</small>
                </div>

              </div>


              <hr>
            </div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="justify-content-center">
              <div class="shape">
                <i class="fas fa-headphones-alt"></i>
              </div>

              <div class=" shape_4">
                <div class="text-right">

                  <h6>24/7 customer support</h6>
                  <small>Friendly 24/7 customer support</small>
                </div>

              </div>


            </div>
            <hr>
          </div>

        </div>

      </div>
    </footer>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="js/product.js"></script>
    


</body>

</html>
