<html  style="overflow: hidden;">
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="/css/login.css" rel="stylesheet">
    </head>
 
    <body>

        <div class="container-fluid page d-flex justify-content-center align-items-center">
            <div class="main-container px-3 pb-3 pt-0 d-flex flex-column justify-content-center align-items-center">
                <!-- <div class="tab">
                    <div class="row">
                        <span class="col-6 d-flex justify-content-center align-items-center login"><a href="#">Login</a></span>
                        <span class="col-6 d-flex justify-content-center align-items-center sign-up deactivate-sign-up"><a href="#">Sign-up</a></span>
                    </div>
                </div> -->
                <div class="container sign-up-page pt-4">
                    <h1 class="text-center ">Sign-up</h1>
                    <div class="form-container">
                        <form action="">
                            <div class="form-group d-flex justify-content-between">
                                <span class="col-sm-5 pr-1">
                                    <label class="label-animate name"><i class='fas fa-signature'></i> First Name</label>
                                    <div class="row">
                                        <div class="col-12 pl-0">
                                            <input type="text" name="" class="form-control fontAwesome rounded first-name" required placeholder="">
                                        </div>
                                    </div>
                                </span>
                                <span class="col-sm-5 pl-1">
                                    <label class="label-animate name"><i class='fas fa-signature'></i> Last Name</label>
                                    <div class="row">
                                        <div class="col-12 pr-0 pl-2">
                                            <input type="text" name="" class="form-control fontAwesome rounded last-name" required placeholder="">
                                        </div>
                                    </div>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label class="label-animate"><i class="fas fa-envelope"></i> Email</label>
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <input type="email" name="" class="form-control fontAwesome rounded" required placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="label-animate"><i class="fas fa-lock"></i> New Password</label>
                                <div class="row">
                                    <div class="col-11 px-0"><input type="password" name="" class="form-control rounded-left fontAwesome new-password password" required placeholder=""></div>
                                    <div class="col-1 px-0 d-flex justify-content-center align-items-center rounded-right eye-div">
                                        <div class="eye hidden pr-2">
                                            <a href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="label-animate"><i class="fas fa-lock"></i> Confirm Password</label>
                                <div class="row">
                                    <div class="col-11 px-0"><input type="password" name="" class="form-control rounded-left fontAwesome Confirm-password password" required placeholder=""></div>
                                    <div class="col-1 px-0 d-flex justify-content-center align-items-center rounded-right eye-div">
                                        <div class="eye hidden pr-2">
                                            <a href="#"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <button class="btn btn-primary btn-block sign-up-button">Sign-up</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <p class="text-muted_1 text-center">Or register with</p>

                        <div class="social-media-options d-flex justify-content-center mb-3">
                            <span class="social-media-icons d-flex justify-content-center align-items-center mx-2 facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></span>
                            <span class="social-media-icons d-flex justify-content-center align-items-center mx-2 twitter"><a href="#"><i class="fab fa-twitter"></i></a></span>
                            <span class="social-media-icons d-flex justify-content-center align-items-center mx-2 google"><a href="#"><i class="fab fa-google"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/login.js"></script>
    </body>
</html>