.container-fluid{
    height: 100%;
  }
  .page{
    background: linear-gradient(to top, rgba(27, 38, 44, 0.7) 0%, rgba(27, 38, 44, 0.7) 100%), url("https://images.unsplash.com/photo-1449182325215-d517de72c42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=717&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .main-container{
    background: rgba(255, 255, 255, 0.98);
    border-radius: 5px;
    width:500px;
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.2);
  }
  
  .main-container .container{
    height: 100%;
  }
  
  .form-container{
    width:80%;
    height: 60%;
    margin: auto;
  }
  
  .form-group{
    margin:0;
  }
  
  .form-control_1{
    border-radius: 0;
  }
  
  .fontAwesome {
    font-family: Helvetica, 'FontAwesome', sans-serif;
    font-size:18px;
    font-weight: 700;
    /* background: rgba(199, 193, 193, 0.8); */
    opacity: 0.8;
    border: none;
    transition: 0.5s;
    border: 2px solid rgba(199, 193, 193, 0.8);
    
  }
  
  .grey{
    background: rgba(199, 193, 193, 0.3);
  }
  
  
  
  .fontAwesome:focus, .fontAwesome:focus-within, .fontAwesome:active{
    /* background:rgba(199, 193, 193, 0.4); */
    outline: 0 !important;
    border: 0;
    box-shadow: 0 0 0 0.2rem transparent;
    /* border-color: #fe696a; */
    border: 2px solid #fe696a;
  }
  
  .label-animate{
    position: relative;
    left:0px;
    top:40px;
    font-size:0.9rem;
    /* color:#fe696a !important; */
  }
  
  @media screen and (max-width: 650px) {
    .label-animate{
        position: relative;
        left:0px;
        top:40px;
        font-size:0.8rem;
    }
  }
  
  label{
    position: relative;
    left:0px;
    top:6px;
    transition: 0.4s;
    overflow: hidden;
    /* font-size:0.95rem; */
  }
  
  .checkbox-label{
    position: initial;
  }
  
  input[type="checkbox"]{
      position: relative;
  }
  
  .text-muted{
    font-size:0.9rem;
    color:rgba(254,105,106,0.7) !important;
  }
  .text-muted_1{
    font-size:0.9rem;
    color:rgb(129, 129, 129) !important;
    /* color:#fe696a !important; */
  }
  
  .sign-up-now a{
    text-decoration: underline;
  }
  
  
  .social-media-icons{
    border-radius: 50%;
    height: 30px;
    width:30px;
    transition: 0.4s;
    /* transition: transform 0.2s infinite; */
    /* color:white !important; */
  }
  
  
  .social-media-icons:active{
    transform: scale(0.8);
  }
  
  .social-media-icons .fab{
    color:black;
    
  }
  
  .facebook{
    background: #3B5998;
    transition: transform 2s infinite;
   
  }
  .facebook:hover{
      
    transform: rotate(360deg);
    background:white;
  }
  
  .twitter{
    background:#55ACEE;
    transition: transform 2s infinite;
  }
  .twitter:hover{
      
    transform: rotate(360deg);
    background:white;
  }
  
  .google{
    background:#dd4b39;
    transition: transform 2s infinite;
  }
  .google:hover{
      
    transform: rotate(360deg);
    background:white;
  }
  
  
  @media screen and (max-width: 650px) {
    .main-container{
        /* background: rgba(255, 255, 255, 0.6); */
        border-radius: 5px;
        width:90%;
        overflow:hidden;
    }
  }
  
  @media screen and (max-width: 1000px) and (min-width: 650px)  {
    .main-container{
        /* background: rgba(255, 255, 255, 0.6); */
        border-radius: 5px;
        width:500px;
        overflow:hidden;
    }
    .container h1{
        margin: 0 !important;
    }
  
    form{
        margin-bottom:10%;
    }
  }
  
  .login-button{
    background: #fe696a;
    border: 0;
    color:#000;
    transition: 0.4s;
  }
  
  .login-button:hover, .login-button:focus{
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a;
  }
  
  .login-button:active{
    color:#000 !important;
    transform: scale(0.9);
    background: #fe696a;
  }
  
  .login-button:not(:disabled):not(.disabled).active, .login-button:not(:disabled):not(.disabled):active, .show>.login-button.dropdown-toggle {
    color: #000;
    background-color: #fe696a;
    border-color:none;
  }
  
  .login-button:not(:disabled):not(.disabled).active:focus, .login-button:not(:disabled):not(.disabled):active:focus, .show>.login-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
  }
  
  
  .tab{
    width:100%;
  }
  
  .tab .row{
    height:70px;
  }
  
  @media screen and (max-width: 350px){
    .main-container .container{
        padding: 0px !important;
    }
  }
  
  
  .sign-up-page{
    transition: 0.5s;
  }
  
  .login-page{
    transition: 0.5s;
  }
  
  .main-container{
    transition: 0.5s;
  }
  
  .deactivate-sign-up{
    box-shadow: inset 1.2rem -1.2rem 1.525rem -1.375rem rgba(0,0,0,0.1);
  
  }
  
  .deactivate-login{
    box-shadow: inset -1.2rem -1.2rem 1.525rem -1.375rem rgba(0,0,0,0.1);
  
  }
  
  .display{
    display: none;
    transition: 0.5s;
  }
  
  .tab span a{
    color:#000;
    font-weight: 700;
  }
  
  .tab span a:hover{
    color:#000;
    text-decoration: none;
  }
  
  span.col-sm-5{
    padding:0;
  }
  
  .eye-div{
    /* background: rgba(199, 193, 193, 0.6); */
    border-top: 2px solid  rgba(199, 193, 193, 0.6);
    border-bottom: 2px solid  rgba(199, 193, 193, 0.6);
    border-right: 2px solid  rgba(199, 193, 193, 0.6);
    padding-left: 1px;
  }
  
  .change-color{
    /* background:rgba(199, 193, 193, 0.3); */
    border-top: 2px solid  #fe696a;
    border-bottom: 2px solid  #fe696a;
    border-right: 2px solid  #fe696a;
  }
  
  .eye a, .eye a:hover{
    color:#000;
    /* transition: all 0.4s; */
  }
  
  .eye:active{
    color:#000;
    transform: scale(0.9);
  }
  
  
  /* 
  Reset window
  */
  
  .vanish-reset-window{
     display: none;
  }
  
  .forgot-password a{
    text-decoration: underline;
  }
  
  .back-to-login a{
    text-decoration: underline;
  }
  
  .reset-deactivate-login{
    box-shadow: inset 0rem -1.2rem 1.525rem -1.375rem rgba(0,0,0,0.1);
    border-right: 1px solid rgba(199,193,193,0.5)
  }
  
  .reset-deactivate-sign-up{
    box-shadow: inset 0rem -1.2rem 1.525rem -1.375rem rgba(0,0,0,0.1);
  }

  .reset-button{
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a;
    outline:0 !important;
    border-color: transparent;
  }

  .reset-button:hover{
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a !important;
    border-color: transparent !important;
   
  }
  .reset-button:active,.reset-button:focus{
    transform:translateY(4px) ;
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a !important;
    border-color: transparent !important;
  }

  .sign-up-button{
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a;
    outline:0 !important;
    border-color: transparent;
  }

  .sign-up-button:hover{
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a !important;
    border-color: transparent !important;
   
  }
  .sign-up-button:active,.sign-up-button:focus{
    transform:translateY(4px) ;
    color:#000; 
    box-shadow: 0 0 transparent;
    background: #fe696a !important;
    border-color: transparent !important;
  }

  /* .fa-eye{
      padding-left:10px;
  } */
