<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <title>Welcome Page</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kalam:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,700;0,900;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

        <link rel="stylesheet" href="/css/footer_1.css">

      </head>

</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav">


    <div class="container">
      <a class="navbar-brand" href="/" style="color:rgba(27, 38, 44, 1);font-weight: 100;">Brand Name</a>
      
      <form class="form-inline flex-nowrap rounded search_2 mx-0" action="/product-page" method="POST">
          <div class="input-group-prepend search_div">
            <button class="btn btn-outline-secondary srch_1" type="submit"><i class="fa fa-search" style="color:rgba(27, 38, 44, 0.9) "></i></button>
            <input type="search" class="form-control fc_1" placeholder="Search" name="search">
          </div>
        </form>
          
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-4 my-lg-0">
          <li class="nav-item ">
            <a class="nav-link js-scroll-trigger " href="/product-page/wishlist" role="button" style="color:rgba(27, 38, 44, 1);font-weight: 100;"><i class="far fa-heart"></i><span class="badge badge-pill badge-dark " id="badge-heart">0</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link js-scroll-trigger " href="/product-page/cart"  role="button" style="color:rgba(27, 38, 44, 1);font-weight: 100;"><i class="fas fa-shopping-cart "></i><span class="badge badge-pill badge-dark " id="badge-cart">0</span></a>
          </li>
          <!-- <li class="nav-item dropdown ">
            <a class="nav-link js-scroll-trigger " href="#" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-wallet"></i></a>
            <div class="dropdown-menu py-3 px-1 mt-2 wallet_1 dm_1" aria-labelledby="navbarDropdown" > 
              <div class="text-center ">
                  <p class="dropdown-item">Wallet<i class="fas fa-wallet ml-2"></i></p>
                  <div class="dropdown-divider"></div>
                  <p > <span>Amount:</span><span class="mr-1">$100</span></p>
                  <button class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Add to Wallet"><i class="fas fa-wallet mr-1"></i> +</button>
                </div>     
            </div>
          </li> -->
          <li class="nav-item">
            <a href="#" class="nav-link js-scroll-trigger" style="color:rgba(27, 38, 44, 1);font-weight: 100;">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link js-scroll-trigger" style="color:rgba(27, 38, 44, 1);font-weight: 100;">
              Sign up
            </a>
          </li>
          <!-- <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link hvr-icon-hang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi,Name <i class="fa fa-chevron-down hvr-icon"></i>
            </a>
            <div class="dropdown-menu dm_2" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log-out</a>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>