<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">

  <link href="/css/footer_1.css" rel="stylesheet"/>
  <!-- <link href="/css/singleProduct.css" rel="stylesheet"/> -->
  <!-- <link rel="stylesheet" href="/css/magiczoomplus.css"> -->
</head>

<body >
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Brand Name</a>
      
      <!-- <form class="form-inline flex-nowrap rounded search_2 mx-0" action="/product-page/product-name" method="POST">
          <div class="input-group-prepend search_div">
            <button class="btn btn-outline-secondary srch_1" type="submit"><i class="fa fa-search" style="color:rgba(27, 38, 44, 0.9) "></i></button>
            <input type="search" class="form-control fc_1" placeholder="Search" name="search">
          </div>
        </form> -->
          
      
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-4 my-lg-0">
          <li class="nav-item ">
            <a class="nav-link js-scroll-trigger " href="/product-page/wishlist" role="button" ><i class="far fa-heart"></i><span class="badge badge-pill badge-dark " id="badge-heart">0</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link js-scroll-trigger " href="/product-page/cart"  role="button" ><i class="fas fa-shopping-cart "></i><span class="badge badge-pill badge-dark " id="badge-cart">0</span></a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link js-scroll-trigger " href="#" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-wallet"></i></a>
            <div class="dropdown-menu py-3 px-1 mt-2 wallet_1 dm_1" aria-labelledby="navbarDropdown" > 
              <div class="text-center ">
                  <p class="dropdown-item">Wallet<i class="fas fa-wallet ml-2"></i></p>
                  <div class="dropdown-divider"></div>
                  <p > <span>Amount:</span><span class="mr-1">$100</span></p>
                  <button class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="Add to Wallet"><i class="fas fa-wallet mr-1"></i> +</button>
                </div>
               
             
              
            </div>
          </li>
          <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link hvr-icon-hang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi,Name <i class="fa fa-chevron-down hvr-icon"></i>
            </a>
            <div class="dropdown-menu dm_2" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log-out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  


  <div class="container px-auto">
    <div class="px-auto">
      <section class="product">
        <div class="d-flex justify-content-center">
          <div class="row">
              <div class="col-md-5 d-flex justify-content-center">
               
                  <div class="product-pic" >
                      <div class="d-flex justify-content-center">
                          <img id="zoom_03"  src="https://demo.createx.studio/cartzilla/img/shop/catalog/60.jpg" class="" alt="..." > 
                        </div>
                    
                  </div>
               
              </div>
              <div class="col-md-7 d-flex justify-content-center">
                  <div class="info">
                    <h2 class="py-2">Product name</h2>
                    <p class="price_5 py-2">$100.<span class="cent">00</span></p>
                    <div class="description">
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Odit tempora hic nemo ullam doloribus explicabo ad, 
                            impedit eligendi amet harum, optio vel architecto maxime eaque?
                            Accusamus alias sapiente aliquid fugit!
                        </p>
                    </div>
                    <div class="variety">
                        <div class="size">
                            <a href="" class="box mr-2"><span class="sizes p-2">S</span></a>
                            <a href="" class="box mx-2"><span class="sizes p-2">M</span></a>
                            <a href="" class="box mx-2"><span class="sizes p-2">L</span></a>
                        </div>
                    </div>
                    <div class="edit-quantity pt-5 row">
                        <div class="col-sm-4">
                          <span class="plus px-2"><i class="fas fa-plus"></i></span>
                          <span class="display-quantity px-2">1</span>
                          <span class="minus px-2"><i class="fas fa-minus"></i></span>
                        </div>
                        <div class="col-sm-8 pt-4 pt-sm-0 p-sm-0">
                          <button class="btn add-to-cart px-5">Add to cart</button>
                        </div>
                    </div>
                    <div class="wishlist pt-4">
                        <span class="heart  mr-3"><i class="far fa-heart hrt "></i></span>
                        <span class="wishlist-text">Add to Wishlist</span>
                    </div>
                  </div>
              </div>
          
           </div>
        </div>
        </div>
      </section>

      <section class="review-and-info">
        <div class="container">
          <nav class="nav justify-content-center" id="tabs">
            <a class="nav-link active_1 specification" href="#tabs" id="specification-button">Specification</a>
            <a class="nav-link reviews" href="#rtabs" id="reviews-button">Reviews</a>
          </nav>
  
          <div class="display-content container">
            <div class="display" id="specification">
              <table>
                <tr class="">
                  <td>Product</td>
                  <td class="right-side">Purchase this product on our website</td>
                </tr>
                <tr>
                  <td>Size and Fit</td>
                  <td class="right-side">Splittable fabric, oversized coat</td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td class="right-side">5'7.5" wearing a size small</td>
                </tr>
                <tr>
                  <td>Composition</td>
                  <td class="right-side">Wool blend, custom plaid, 70% Wool, 30% Polyamide</td>
                </tr>
                <tr>
                  <td>Color</td>
                  <td class="right-side">Blue, Red</td>
                </tr>
                <tr>
                  <td>Size</td>
                  <td class="right-side">S, M, L</td>
                </tr>
              </table>
            </div>
  
            <div class="remove" id="reviews">
              <div class="review py-4">
                <h2 class="review-count my-5">5 reviews for this product</h2>
                <div class="head d-flex justify-content-between mt-5">
                  <p>
                    <span class="name">Mark James</span>
                    <span>-</span>
                    <span class="date">October 25, 2019</span>
                  </p>
                  <p class="user-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
                <div class="comment">
                  Nice product
                </div>
              </div>
              <div class="review py-4">
                <div class="head d-flex justify-content-between">
                  <p>
                    <span class="name">Mark James</span>
                    <span>-</span>
                    <span class="date">October 25, 2019</span>
                  </p>
                  <p class="user-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
                <div class="comment">
                  Nice product
                </div>
              </div>
              <div class="review py-4">
                <div class="head d-flex justify-content-between">
                  <p>
                    <span class="name">Mark James</span>
                    <span>-</span>
                    <span class="date">October 25, 2019</span>
                  </p>
                  <p class="user-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
                <div class="comment">
                  Nice product
                </div>
              </div>
              <div class="review py-4">
                <div class="head d-flex justify-content-between">
                  <p>
                    <span class="name">Mark James</span>
                    <span>-</span>
                    <span class="date">October 25, 2019</span>
                  </p>
                  <p class="user-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
                <div class="comment">
                  Nice product
                </div>
              </div>
              <div class="review py-4">
                <div class="head d-flex justify-content-between">
                  <p>
                    <span class="name">Mark James</span>
                    <span>-</span>
                    <span class="date">October 25, 2019</span>
                  </p>
                  <p class="user-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                </div>
                <div class="comment">
                  Nice product
                </div>
              </div>
  
              <div class="add-review">
                <h2 class="my-4">Add a review</h2>
                <p class="text-muted my-4">Your email address will not be published. Required fields are marked *</p>
  
                <form action="" method="POST">
                  <label>YOUR RATING</label>
                <div class="stars">
                  <span class="star 1"><i class="far fa-star"></i></span>
                  <span class="star 2"><i class="far fa-star"></i></span>
                  <span class="star 3"><i class="far fa-star"></i></span>
                  <span class="star 4"><i class="far fa-star"></i></span>
                  <span class="star 5"><i class="far fa-star"></i></span>
                </div>
  
                <div class="form-group my-5">
                  <label>YOUR REVIEW *</label>
                  <textarea name="review" class="form-control" cols="80" rows="10" required></textarea>
                </div>

                <div class="form-group my-5">
                  <label>Name *</label>
                  <input type="text" name="name" class="form-control" required>
                </div>

                <div class="form-group my-5">
                  <label>Email *</label>
                  <input type="email" name="email" class="form-control" required>
                </div>

                <div class="form-group my-5">
                  <input type="submit" class="btn">
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>



  <%- include("./partials/pageFooter") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
    <script src="/js/productpage.js"></script>
    
    <%- include("./partials/footer") %>