<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Pricing</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86"> -->
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kalam:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,700;0,900;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="css/footer_1.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand " href="/">Brand Name</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-5 my-lg-0">
          <li class="nav-item"><a class="nav-link js-scroll-trigger hvr-underline-from-left" href="#footer">About</a></li>

          <li class="nav-item "><a class="nav-link js-scroll-trigger hvr-underline-from-left" href="/product-page">Products</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger hvr-underline-from-left" href="#connect">Contact</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link hvr-icon-hang" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi,Name <i class="fa fa-chevron-down hvr-icon"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Log-out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section style="margin-top: 100px;">
    <div class="text-center ">
      <div class="price_head ">
        <h1>Pricing</h1>
      </div>
      <p class="m-3 para_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
    </div>
    <div class="container">

      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card card_1 p-3 m-1">
            <h2 class="heading">Basic</h2>
            <div class="d-flex justify-content-center">
              <div class="price m-3">
                <span class="currency ">$</span>
                <span class="amount ">100</span>
                <span class="cent">.00</span>
              </div>

            </div>
            <div class="mt-2 statement">
              <span>Offer<br></span>
              <span>Offer<br></span>
            </div>
            <div class="mt-3 px-5 d-flex justify-content-center ">
              <a href="#" class="wallet_link"> <button type="button" name="button" class="btn  first"> Add to Wallet</button></a> <!--Wallet address-->
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="card card_1 p-3 m-1">
            <h2 class="heading_1">Mid</h2>
            <div class="d-flex justify-content-center">
              <div class="price_1 m-3">
                <span class="currency ">$</span>
                <span class="amount ">200</span>
                <span class="cent">.00</span>
              </div>

            </div>
            <div class="mt-2 statement">
              <span>Offer<br></span>
              <span>Offer<br></span>
            </div>
            <div class="mt-3 px-5 d-flex justify-content-center">
              <a href="#" class="wallet_link"><button type="button" name="button" class="btn  first_1"> Add to Wallet</button></a><!--Wallet address-->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="card card_1 p-3 m-1">
            <h2 class="heading_2">Premium</h2>
            <div class="d-flex justify-content-center">
              <div class="price_2 m-3">
                <span class="currency ">$</span>
                <span class="amount ">500</span>
                <span class="cent">.00</span>
              </div>

            </div>
            <div class="mt-2 statement">
              <span>Offer<br></span>
              <span>Offer<br></span>
            </div>
            <div class="mt-3 px-5 d-flex justify-content-center">
              <a href="#" class="wallet_link"> <button type="button" name="button" class="btn first_2"> Add to Wallet</button></a><!--Wallet address-->
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <button type="button" class="btn btn-dark btn-lg wallet_button " data-toggle="modal" data-target="#exampleModal"><span>Add to Wallet</span></button>  
          <!-- <button type="button" class="btn btn-dark wallet_button" data-toggle="modal" data-target="#exampleModal">
          <span><i class="fas fa-wallet"></i></span>
        </button> -->
          <!-- Modal -->
<div class="modal fade animate__animated animate__bounceIn " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wallet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Amount:<span>$100</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark">Add Money to Wallet</button>
      </div>
    </div>
  </div>
</div> 
        </div>
        

      </div>

    </div>




    </div>

  </section>









  <footer id="footer">
    <div class="mt-5 p-4 w-100">


      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 catalogue">
          <div class="d-flex justify-content-center">
            <div class="size">
              <div class="text-left">



                <h5>Shop Departments</h5>
                <br>
                <p>Appliances</p>
                <p>Comapny Approval</p>
                <p>Buisness Product</p>
                <p>Computer</p>
                <p>Television</p>
                <p>Shorts</p>
                <p>Laptops</p>
                <p>Accessories</p>
                <p>Refridgerator</p>
                <p>Apple Appliances</p>
                <p>Electonical Appliances</p>



              </div>
            </div>


          </div>



          <hr>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 shipping">
          <div class="d-flex justify-content-center">
            <div class="size">
              <div class="text-left">
                <h5>Accounts and Shipping Info</h5>
                <br>
                <p>Your Account</p>
                <p>Shipping rates & policies</p>
                <p>Refunds and Replacements</p>
                <p>Order Tracking</p>
                <p>Delivery Info</p>
                <p>Taxes &Fees</p>
                <br>

                <h5>About Us</h5>
                <br>
                <p>About Company</p>
                <p>Our Teams</p>
                <p>Careers</p>
                <p>News</p>

              </div>

            </div>


          </div>

          <hr>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 subscribe">
          <div class="d-flex justify-content-center ">
            <div class="text-left">
              <h5>Stay Informed</h5>
              <br>
              <form class="" action="/pricing" method="post">


                <input type="email" class="form-control" placeholder="Enter email" id="email" name="subscribe_mail">
                <small>*If you want to be informed about our new Product.</small>

                <div class="float-right">
                  <button type="submit" name="button" class="m-1 rounded sub_button">Subscribe</button>

                </div>

              </form>
              <div class="connect" id="connect">
                <br>
                <h5 class="mt-5 text-center">Connect with Us</h5>

                <a href="mailto:comapny@example.com" class="mt-3">Mail us</a><br>
                <div class="d-flex justify-content-center icon mb-3">
                  <i class="fab fa-google feather "></i>
                  <i class="fab fa-twitter feather  ml-5"></i>
                  <i class="fab fa-facebook feather  ml-5"></i>
                </div>
                <p class="text-center mt-4">&copy; Company Name Ltd<p>



              </div>


            </div>





          </div>

        </div>

      </div>
      <hr>
      <div class="row mt-4 policy">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="justify-content-center">
            <span><i class="fas fa-rocket "></i></span>
            <div class=" shape_1">
              <div class="text-right">

                <h6>Free and Fast Delivery</h6>
                <small>Free Delivery for cart above 200$</small>
              </div>

            </div>


          </div>
          <hr>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="justify-content-center">
            <span><i class="fas fa-money-check-alt"></i></span>



            <div class=" shape_2">
              <div class="text-right">

                <h6>Money Back Policy</h6>
                <small>We refund payments within 30days</small>
              </div>

            </div>


            <hr>
          </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="justify-content-center">
            <div class=" shape">
              <i class="far fa-credit-card"></i>
            </div>

            <div class=" shape_3">
              <div class="text-right">

                <h6>Secure Online Payment</h6>
                <small>Excellent online payment services.</small>
              </div>

            </div>


            <hr>
          </div>

        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="justify-content-center">
            <div class="shape">
              <i class="fas fa-headphones-alt"></i>
            </div>

            <div class=" shape_4">
              <div class="text-right">

                <h6>24/7 customer support</h6>
                <small>Friendly 24/7 customer support</small>
              </div>

            </div>


          </div>
          <hr>
        </div>

      </div>

    </div>
  </footer>
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
  <script src="js/price.js"></script>
  <script>
    

   



  </script>
</body>

</html>
